* {
    padding: 0;
    margin: 0;
}

.navbar-container {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
}

.links {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 40%;
    justify-content: space-between
}